*.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode
# Byte-compiled / optimized / DLL files
__pycache__/
covid19-forecast-hub-de.Rproj
data-raw/IHME/2020_09_02/Reference_hospitalization_all_locs.csv
